.content {
	&--comments {
		overflow: hidden;
		min-height: 790px;
		.section {
			&_title {
				padding-top: 35px;
				h2 {
					font-size: 42px;
					&:before, &:after {
						display: none;
					}
				}
				p {
					font-size: 30px;
					color: $purple;
					font-weight: 600;
				}
			}
		}
	}
}
.comments {
	// overflow: hidden;
	&-facebook {
		&_container {
			width: 840px;
			margin: 125px auto 135px;
			@media #{$tablet} {
				width: 100%;
			}
		}
	}
}