footer
	.footer
		.container
			.footer_block
				.row
					.col-sm-12.col-md-4.col-md-push-4
						.footer_center.clearfix
							a(href="./").footer_logo.svg
							p Присоединяйтесь
							ul.footer_socials
								li
									a(href="#")
										span.fa.fa-facebook
								//- li
								//- 	a(href="#")
								//- 		span.fa.fa-twitter
								li
									a(href="#")
										span.fa.fa-instagram
								li
									a(href="#")
										span.fa.fa-vk
					.col-sm-7.col-md-4.col-md-pull-4
						.footer_left.clearfix
							.col-sm-8
								.footer_left_left
									p.footer_text.
										С любовью и надеждой на длительное сотрудничество мастерская-кондитерская Чарiвний Sweet
									a(href="http://unitspace.top").footer_production
										p Production by:
									p.footer_copyright 2017 @ All right Reserved
							.col-sm-4
								.footer_left_right
									h6 Меню
									ul.footer_menu
										li
											a(href="./") Главная
										li
											a(href="company.html") О компании
										li
											a(href="portfolio.html") Портфолио
										li
											a(href="candy-bar.html") Сладкий стол
										li
											a(href="constructor.html") Ваш торт
										li
											a(href="comments.html") Отзывы
										li
											a(href="contacts.html") Контакты
										li
											a(href="blog.html") Блог
					.col-sm-5.col-md-4
						.footer_right.clearfix
							h6 Телефон
							ul.footer_tel
								li
									a(href="tel:+38(093)887-12-70") +38(093)887-12-70
								li
									a(href="tel:+38(068)030-62-39") +38(068)030-62-39
							h6 Адрес
							ul.footer_address
								li.
									Украина
								li.
									г. Харьков
								li.
									Академика Проскуры, 5/7
								li.
									ул. Пушкинская, 58