section.order-form.wow.fadeIn(data-wow-duration='1s')
	.container
		.order-form_block
			//- .section_title
			//- 	h2 Оставить заявку
			//- p Follow our newsletter lorem ipsum dolor sit amet, consectetur adipiscing
			//- form.clearfix
			//- 	.form-group
			//- 		input(type="text", placeholder='Name').form-control
			//- 	.form-group
			//- 		input(type="tel", placeholder='Phone').form-control
			//- 	button(type='submit').btn Follow