header
	.header
		.container
			.header_left
				.header_logo
					a(href="./")
			.header_right
				.header_top
					p.header_name.
						Мастерская-кондитерская Чарiвний Sweet
					ul.header_tel
						li
							span.fa.fa-phone
							a(href="tel:+380938871270") +38 (093) 887 12 70
						li 
							a(href="tel:+380680306239") +38 (068) 030 62 39
					ul.header_socials
						li
							a(href="#")
								span.fa.fa-instagram
						li
							a(href="#")
								span.fa.fa-facebook
						//- li
						//- 	a(href="#")
						//- 		span.fa.fa-twitter
						li
							a(href="#")
								span.fa.fa-vk
				.header_main
					.header_menu-container#header_menu
						.header_menu
							ul
								li.header_menu_list.current-menu-item
									a(href="./") Главная
								li.header_menu_list
									a(href="company.html") О компании
								li.header_menu_list
									a(href="portfolio.html") Портфолио
								li.header_menu_list
									a(href="candy-bar.html") Сладкий стол
									ul.header_menu-hidden
										li
											a(href="#") Капкейки
										li
											a(href="candy-bar.html") Candy Bar
										li
											a(href="#") Пряники
										li
											a(href="#") Пироженые
								li.header_menu_list
									a(href="constructor.html") Ваш торт
									ul.header_menu-hidden
										li
											a(href="filling.html") Начинки
										li
											a(href="types.html") Виды тортов
										li
											a(href="order.html") как заказать
										li
											a(href="tasting.html") дегустация
								li.header_menu_list
									a(href="comments.html") Отзывы
								li.header_menu_list
									a(href="contacts.html") Контакты
								li.header_menu_list
									a(href="blog.html") Блог
						#border
					.header_hamburger#menuToggle
						span.header_hamburger_top
						span.header_hamburger_mid
						span.header_hamburger_bottom
					a(href="constructor.html").btn Оставить заявку
					