extends ./base

block title
	title Portfolio First Page

block main
	include ./header
	.content--portfolio-pg.content--main-pad
		section.breadcrumb.wow.fadeIn(data-wow-duration='1s')
			.container
				ul
					li
						a(href='./') Главная
					li Портфолио
		section.portfolio-pg
			.container_content
				.slider.slick-portfolio-for.wow.fadeIn(data-wow-duration='1s')
					div
						.slick-portfolio-for_box
							.slick-portfolio-for_img(style='background-image: url(' + require("./components/images/photo-16.jpg") + ')')
							.slick-portfolio-for_txtblk
								.slick-portfolio-for_inner
									h4.slick-portfolio-for_name Donec lacinia commodo hendrerit
									h5.slick-portfolio-for_title Maecenas arcu purus
									p.slick-portfolio-for_txt.
										Donec lacinia commodo hendrerit. Vivamus leo erat, hendrerit sagittis tortor non, accumsan ornare dui. In et quam a arcu aliquet faucibus in quis augue. Maecenas arcu purus, commodo ut ultricies vel, fringilla vel ligula. Sed nec mi vulputate, venenatis libero eu, placerat nunc. Sed quis suscipit tellus, quis ultricies ipsum. 
									span Хочешь такой же?
								a(href="#") Заказать
					div
						.slick-portfolio-for_box
							.slick-portfolio-for_img(style='background-image: url(' + require("./components/images/photo-16.jpg") + ')')
							.slick-portfolio-for_txtblk
								.slick-portfolio-for_inner
									h4.slick-portfolio-for_name Donec lacinia commodo hendrerit
									h5.slick-portfolio-for_title Maecenas arcu purus
									p.slick-portfolio-for_txt.
										Donec lacinia commodo hendrerit. Vivamus leo erat, hendrerit sagittis tortor non, accumsan ornare dui. In et quam a arcu aliquet faucibus in quis augue. Maecenas arcu purus, commodo ut ultricies vel, fringilla vel ligula. Sed nec mi vulputate, venenatis libero eu, placerat nunc. Sed quis suscipit tellus, quis ultricies ipsum. 
									span Хочешь такой же?
								a(href="#") Заказать
					div
						.slick-portfolio-for_box
							.slick-portfolio-for_img(style='background-image: url(' + require("./components/images/photo-16.jpg") + ')')
							.slick-portfolio-for_txtblk
								.slick-portfolio-for_inner
									h4.slick-portfolio-for_name Donec lacinia commodo hendrerit
									h5.slick-portfolio-for_title Maecenas arcu purus
									p.slick-portfolio-for_txt.
										Donec lacinia commodo hendrerit. Vivamus leo erat, hendrerit sagittis tortor non, accumsan ornare dui. In et quam a arcu aliquet faucibus in quis augue. Maecenas arcu purus, commodo ut ultricies vel, fringilla vel ligula. Sed nec mi vulputate, venenatis libero eu, placerat nunc. Sed quis suscipit tellus, quis ultricies ipsum. 
									span Хочешь такой же?
								a(href="#") Заказать
					div
						.slick-portfolio-for_box
							.slick-portfolio-for_img(style='background-image: url(' + require("./components/images/photo-16.jpg") + ')')
							.slick-portfolio-for_txtblk
								.slick-portfolio-for_inner
									h4.slick-portfolio-for_name Donec lacinia commodo hendrerit
									h5.slick-portfolio-for_title Maecenas arcu purus
									p.slick-portfolio-for_txt.
										Donec lacinia commodo hendrerit. Vivamus leo erat, hendrerit sagittis tortor non, accumsan ornare dui. In et quam a arcu aliquet faucibus in quis augue. Maecenas arcu purus, commodo ut ultricies vel, fringilla vel ligula. Sed nec mi vulputate, venenatis libero eu, placerat nunc. Sed quis suscipit tellus, quis ultricies ipsum. 
									span Хочешь такой же?
								a(href="#") Заказать
					div
						.slick-portfolio-for_box
							.slick-portfolio-for_img(style='background-image: url(' + require("./components/images/photo-16.jpg") + ')')
							.slick-portfolio-for_txtblk
								.slick-portfolio-for_inner
									h4.slick-portfolio-for_name Donec lacinia commodo hendrerit
									h5.slick-portfolio-for_title Maecenas arcu purus
									p.slick-portfolio-for_txt.
										Donec lacinia commodo hendrerit. Vivamus leo erat, hendrerit sagittis tortor non, accumsan ornare dui. In et quam a arcu aliquet faucibus in quis augue. Maecenas arcu purus, commodo ut ultricies vel, fringilla vel ligula. Sed nec mi vulputate, venenatis libero eu, placerat nunc. Sed quis suscipit tellus, quis ultricies ipsum. 
									span Хочешь такой же?
								a(href="#") Заказать
					div
						.slick-portfolio-for_box
							.slick-portfolio-for_img(style='background-image: url(' + require("./components/images/photo-16.jpg") + ')')
							.slick-portfolio-for_txtblk
								.slick-portfolio-for_inner
									h4.slick-portfolio-for_name Donec lacinia commodo hendrerit
									h5.slick-portfolio-for_title Maecenas arcu purus
									p.slick-portfolio-for_txt.
										Donec lacinia commodo hendrerit. Vivamus leo erat, hendrerit sagittis tortor non, accumsan ornare dui. In et quam a arcu aliquet faucibus in quis augue. Maecenas arcu purus, commodo ut ultricies vel, fringilla vel ligula. Sed nec mi vulputate, venenatis libero eu, placerat nunc. Sed quis suscipit tellus, quis ultricies ipsum. 
									span Хочешь такой же?
								a(href="#") Заказать
				.section_title.wow.flipInX(data-wow-duration='1s')
						h2 Портфолио
				.slider.slick-portfolio-nav.wow.fadeIn(data-wow-duration='1s')
					div
						.slick-portfolio-nav_box
							.slick-portfolio-nav_img(style='background-image: url(' + require("./components/images/photo-16.jpg") + ')')
								.slick-portfolio-nav_overlay
									.slick-portfolio-nav_inner
										.slick-portfolio-nav_name portfolio photo 1
										.slick-portfolio-nav_weight Вес: 03 кг
					div
						.slick-portfolio-nav_box
							.slick-portfolio-nav_img(style='background-image: url(' + require("./components/images/photo-16.jpg") + ')')
								.slick-portfolio-nav_overlay
									.slick-portfolio-nav_inner
										.slick-portfolio-nav_name portfolio photo 1
										.slick-portfolio-nav_weight Вес: 03 кг
					div
						.slick-portfolio-nav_box
							.slick-portfolio-nav_img(style='background-image: url(' + require("./components/images/photo-16.jpg") + ')')
								.slick-portfolio-nav_overlay
									.slick-portfolio-nav_inner
										.slick-portfolio-nav_name portfolio photo 1
										.slick-portfolio-nav_weight Вес: 03 кг
					div
						.slick-portfolio-nav_box
							.slick-portfolio-nav_img(style='background-image: url(' + require("./components/images/photo-16.jpg") + ')')
								.slick-portfolio-nav_overlay
									.slick-portfolio-nav_inner
										.slick-portfolio-nav_name portfolio photo 1
										.slick-portfolio-nav_weight Вес: 03 кг
					div
						.slick-portfolio-nav_box
							.slick-portfolio-nav_img(style='background-image: url(' + require("./components/images/photo-16.jpg") + ')')
								.slick-portfolio-nav_overlay
									.slick-portfolio-nav_inner
										.slick-portfolio-nav_name portfolio photo 1
										.slick-portfolio-nav_weight Вес: 03 кг
					div
						.slick-portfolio-nav_box
							.slick-portfolio-nav_img(style='background-image: url(' + require("./components/images/photo-16.jpg") + ')')
								.slick-portfolio-nav_overlay
									.slick-portfolio-nav_inner
										.slick-portfolio-nav_name portfolio photo 1
										.slick-portfolio-nav_weight Вес: 03 кг
		include ./form
	include ./footer