extends ./base

block title
	title Types

block main
	include ./header
	.content--types.content--main-pad
		section.breadcrumb.wow.fadeIn(data-wow-duration='1s')
			.container
				ul
					li
						a(href='./') Главная
					li
						a(href='constructor.html') Ваш торт
					li Виды тортов
		section.types.wow.fadeIn(data-wow-duration='1s')
			.section_title.wow.flipInX(data-wow-duration='1s')
				h2 Виды тортов 
				p Выберите тип оформления торта по собственному вкусу
			.container_content
				.row
					.col-sm-6
						.types_box
							.types_img.types_img--first(style='background-image: url(' + require("./components/images/photo-22.jpg") + ')')
								.types_overlay
									.types_inner
										.types_name Мастичный
										p.types_txt.
											В кондитерском мире прихоится постоянно следить за новыми
											тенденциями. Мы постоянно отслеживаем новые виения в нашем мире.
											Поэтому, мы с удовольствием предоставляем Вам актуальное предложение
											нашего времени - Голые Торты. В данной ситуации приготовленный
											торт не покрывается мастикой или кремом- все на виду. Коржи
											и начинки в ярусах торта - сразу все можно видеть. Экзотичность
											внешнего вида и делает этот торт столь привлекательными
										a(href="#").btn Заказать
						.types_box
							.types_img.types_img--thirth(style='background-image: url(' + require("./components/images/photo-24.jpg") + ')')
								.types_overlay
									.types_inner
										.types_name Мастичный
										p.types_txt.
											В кондитерском мире прихоится постоянно следить за новыми
											тенденциями. Мы постоянно отслеживаем новые виения в нашем мире.
											Поэтому, мы с удовольствием предоставляем Вам актуальное предложение
											нашего времени - Голые Торты. В данной ситуации приготовленный
											торт не покрывается мастикой или кремом- все на виду. Коржи
											и начинки в ярусах торта - сразу все можно видеть. Экзотичность
											внешнего вида и делает этот торт столь привлекательными
										a(href="#").btn Заказать
					.col-sm-6
						.types_box
							.types_img.types_img--second(style='background-image: url(' + require("./components/images/photo-23.jpg") + ')')
								.types_overlay
									.types_inner
										.types_name Мастичный
										p.types_txt.
											В кондитерском мире прихоится постоянно следить за новыми
											тенденциями. Мы постоянно отслеживаем новые виения в нашем мире.
											Поэтому, мы с удовольствием предоставляем Вам актуальное предложение
											нашего времени - Голые Торты. В данной ситуации приготовленный
											торт не покрывается мастикой или кремом- все на виду. Коржи
											и начинки в ярусах торта - сразу все можно видеть. Экзотичность
											внешнего вида и делает этот торт столь привлекательными
										a(href="#").btn Заказать
						.types_box
							.types_img.types_img--fourth(style='background-image: url(' + require("./components/images/photo-25.jpg") + ')')
								.types_overlay
									.types_inner
										.types_name Мастичный
										p.types_txt.
											В кондитерском мире прихоится постоянно следить за новыми
											тенденциями. Мы постоянно отслеживаем новые виения в нашем мире.
											Поэтому, мы с удовольствием предоставляем Вам актуальное предложение
											нашего времени - Голые Торты. В данной ситуации приготовленный
											торт не покрывается мастикой или кремом- все на виду. Коржи
											и начинки в ярусах торта - сразу все можно видеть. Экзотичность
											внешнего вида и делает этот торт столь привлекательными
										a(href="#").btn Заказать
		include ./form
	include ./footer